* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxanium', cursive;
    /* background: #070f41; */
    background: #020204;
}

.img-container {
    background: url(./assets/ethereum-blockchain.png);
    background-size: cover;
}

.img-container > img {
    width: 20px;
}